@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

body {
    display: grid;
    grid-template-areas:
    'header'
    'main'
    'footer';
    font-family: 'Be Vietnam Pro', sans-serif;
    background: url(../images/bg-tablet-pattern.svg) right -15% no-repeat;
}

.testimonial {
    z-index: -1;
    opacity: 0;
    position: absolute;
    transition: 0.3s;
}

.selecionado {
    position: relative;
    z-index: 1;
    opacity: 1;
}

.header {
    grid-area: header;
    padding: 5% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-menu ul {
    display: flex;
    gap: 1.8rem;
}

.header .header-menu a {
    color: var(--very-dark-blue);
    font-weight: 500;
    transition: 0.2s;
}

.header .header-menu a:hover {
    color: var(--dark-grayish-blue);
}

.get-started {
    color: var(--very-pale-red);
    padding: 0.9rem 1.8rem;
    border-radius: 6.25rem;
    background: var(--bright-red);
    box-shadow: 0px 5px 16px 0px var(--bright-red);
    transition: 0.3s;
}

.get-started:hover {
    opacity: 0.7;
}

.main {
    grid-area: main;
}

.main .intro {
    padding: 5% 10%;
    display: flex;
    gap: 6.25rem;
    align-items: center;
}

.main .intro h1 {
    color: var(--dark-blue);
    font-size: 2.5rem;
    margin-bottom: 1.8rem;
}

.main .intro p {
    color: var(--dark-grayish-blue);
    margin-bottom: 3rem;
}

.main .features {
    padding: 5% 10%;
    display: flex;
    gap: 6.25rem;
    background: url(../images/bg-tablet-pattern.svg) -100% -100% no-repeat;
}

.main .features section:last-child {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.main .feature-intro h1 {
    font-size: 2rem;
    color: var(--dark-blue);
    margin-bottom: 1.3rem;
}

.main .feature-intro p,
.main .feature p {
    color: var(--dark-grayish-blue);
}

.main .feature {
    display: flex;
    gap: 1.3rem;
}

.main .feature span {
    color: var(--very-light-gray);
    background: var(--bright-red);
    align-self: flex-start;
    padding: 0.3rem 1.3rem;
    border-radius: 6.25rem;
}

.main .feature h2 {
    font-size: 1.2rem;
    color: var(--dark-blue);
    font-weight: 600;
    margin-bottom: 0.9rem;
}

.main .testimonials {
    padding: 5% 10%;
    text-align: center;
    position: relative;
}

.main .testimonials h1 {
    font-size: 2rem;
    color: var(--dark-blue);
    margin-bottom: 4.3rem;
}

.main .testimonial {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    align-items: center;
}

.main .testimonial h3 {
    color: var(--dark-blue);
}

.main .testimonial q {
    padding: 0 10%;
    color: var(--dark-grayish-blue);
    margin-bottom: 1.8rem;
}

.main .testimonials form {
    margin-bottom: 3rem;
    display: flex;
    gap: 0.6rem;
    align-items: center;
    justify-content: center;
}

.radio {
    height: 1rem;
    position: relative;
    width: 1rem;
    background: var(--very-light-gray);
    border: 1px solid var(--bright-red);
    border-radius: 100%;
}
  
.radio label {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.radio label input[type=radio] {
    all: unset;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.3s;
    border-radius: 100%;
}
  
.radio label input[type=radio]:checked {
    background-color: var(--bright-red);
}


.main .cta {
    padding: 5% 10%;
    background: url(../images/bg-simplify-section-desktop.svg) var(--bright-red) 0% 100% no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .cta h1 {
    color: var(--very-pale-red);
    font-size: 2.5rem;
}

.main .cta .get-started {
    background: var(--very-pale-red);
    color: var(--bright-red);
}

.main .cta .get-started:hover {
    color: var(--dark-grayish-blue);
    opacity: 1;
}

.footer {
    grid-area: footer;
    padding: 5% 10%;
    background: var(--very-dark-blue);
}

.footer .footer-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.footer .social-medias {
    display: flex;
    gap: 0.6rem;
}

.footer .social-medias a {
    font-size: 1.3rem;
    color: var(--very-pale-red);
    transition: 0.3s;
}

.footer .social-medias a:hover,
.footer .footer-menu a:hover {
    color: var(--bright-red);
}

.footer .footer-menu {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}

.footer .footer-menu a {
    color: var(--very-pale-red);
    transition: 0.3s;
}

.footer .register {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer input {
    padding: 0.9rem;
    border: none;
    border-radius: 6.25rem;
}

#submit,
#submit-mobile {
    padding: 0.9rem 1.25rem;
    background: var(--bright-red);
    color: var(--very-pale-red);
    transition: 0.3s;
}

#submit:hover,
#submit-mobile:hover {
    filter: brightness(150%);
    cursor: pointer;
}

.copyright {
    font-size: 0.8rem;
    text-align: right;
    color: var(--dark-grayish-blue);
}

.message-error,
.message-error-mobile {
    color: var(--bright-red);
    font-size: 0.8rem;
    margin-left: 0.6rem;
    visibility: hidden;
}

.footer .border-invalid {
    border: 1px solid var(--bright-red);
}

.aparecer {
    visibility: visible;
}

.footer-desktop {
    display: grid;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.footer-mobile {
    display: none;
}

#menu__toggle {
    display: none;
}